*{
    padding:0;
    margin:0;
}

body{
    padding: 0;
    box-sizing: border-box;
    background-image: url('images/weather \image.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;

    display:flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height:100vh;
    margin-top: 30px;
 
    
}

.header{
    width: 97%;
    height:60px;
    background-color: #CEC7C7;
    border-radius:10px;
    
    font-size: 24px;
    left: 0;
    top:0px;
}

.header h1{
    padding: 5px;
    text-align: start;
    font-size: 24px;
    color: #1A8ADB;
    font-family: arial;
    padding-top: 15px;

}

.section-one h1{
    color:#A74F4F;
    font-weight:bold;
    font-family: arial;
    font-size: 23px;
    margin-top: 30px;


}

.icon-and-searc-button{
    width: 530px;
    height:50px;
    background-color: #CEC7C7;
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.searchIcon img{
    width:100%px;
    height:50px;
}

input[type="text"]{
    width:300px;
    height:49px;
    padding-left: 130px;
    border:none;
}
button{
    width:300px;
    height:49px;
    padding-left: px;
    border:none;
    background-color: lightblue;
    font-size: 20px;
    font-family: arial;
    font-weight: bolder;
    cursor:pointer;
}

.section-two{
    width:500px;
    height:400px;
    background-color: aliceblue;
    text-align:start;
    padding-bottom:150px;
    padding:30px;
    border-radius: 20px;
    visibility:hidden;
    margin-top: 90px;
}

.center{
    display: flex;
    justify-content: space-between;
}

.first{
    padding: 30px;
    line-height: 35px;
}

.cityName{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #1A8ADB;
    font-family:arial;

}


.cityTime{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    
    
}

.second{
    display:flex;

}
.second img{
    width:45px;

}

.second h1{
    font-size: 65px;
    
}

.second h1 sup{
    font-size: 35px;
    top:0;

}
.second h1 sub{
    font-size: 35px;
    
}

.paragraph-and-number{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    
}

.paragraph-and-number .tex{
    font-size:20px;
    font-family: arial;

}

.paragraph-and-number .num{
    font-size:30px;

}
.paragraph-and-number hr{
    width: 20px;
   
}

.three{
    margin-right: 50px;
}


@media only screen and (max-width:768px){
    .header{
        width: 100%;
      
    }
    .header h1{
        text-align: center;
    }

.icon-and-searc-button {
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

.icon-and-searc-button input[type='text']{
    width: 190px;
    
   

}
}