body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('images/weather \image.jpg');
    background-position: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    display:block;
    text-align: center;
    width: 100%;
    height:100vh;
 
    
}

.header{
    width: 97%;
    height:60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #CEC7C7;
    border-radius:10px;
    
    font-size: 24px;
    left: 0;
    top:0px;
}

.header h1{
    padding: 5px;
    text-align: start;
    font-size: 24px;
    color: #1A8ADB;
    font-family: arial;
    padding-top: 15px;
    margin-left:20px ;

}

.section-one h1{
    color:#A74F4F;
    font-weight:bold;
    font-family: arial;
    font-size: 23px;
    margin-top:50px;


}

.icon-and-searc-button{
    width: 530px;
    height:50px;
    background-color: #CEC7C7;
    border-radius:10px 10px 0 0;
    margin-left:423px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.searchIcon img{
    width:100%px;
    height:50px;
    margin-top: 0px;
    margin-left: 0px;
}

input[type="text"]{
    width:300px;
    height:49px;
    padding-left: 130px;
    border:none;
}
button{
    width:300px;
    height:49px;
    padding-left: px;
    border:none;
    background-color: lightblue;
    font-size: 20px;
    font-family: arial;
    font-weight: bolder;
    cursor:pointer;
}

.section-two{
    width:500px;
    height:400px;
    background-color: aliceblue;
    margin-left: 430px;
    text-align:start;
    margin-top: 40px;
    padding-bottom:150px;
    padding:30px;
    border-radius: 20px;
    /* visibility: ; */
}

.center{
    display: flex;
    justify-content: space-between;
}

.first{
    padding: 30px;
    line-height: 35px;
}

.cityName{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #1A8ADB;
    font-family:arial;

}


.cityTime{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    
    
}

.second{
    display:flex;

    margin-left:40px;
}
.second img{
    width:45px;

}

.second h1{
    font-size: 65px;
    
}

.second h1 sup{
    font-size: 35px;
    top:0;

}
.second h1 sub{
    font-size: 35px;
    
}

.paragraph-and-number{
    display: flex;
    justify-content: space-around;
    margin-right:60px;
}

.paragraph-and-number .tex{
    margin-left: 20px;
    font-size:20px;
    font-family: arial;
    margin-top: 15px;

}

.paragraph-and-number .num{
    margin-left: 20px;
    font-size:40px;

}
.paragraph-and-number hr{
    width: 20px;
   
}
